.about {
  margin: 0rem 0rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.about img {
  margin: 1.25rem 1.25rem 3rem;
  width: auto;
  max-width: min(100%, 48rem);
  height: auto;
  object-fit: contain;
}

.about p {
  width: 100%;
  max-width: 42rem;
  margin: 1.25rem 0;
}

@media (min-width: 768px) {
  .about img,
  .about p {
    margin: 2rem 0;
  }
}
