.gallery {
  /* display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center; */

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.75rem;
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

.gallery li {
  /* flex: 1 1 9rem; */
  /* height: rem; */
  cursor: pointer;
  position: relative;
}

/* 
.gallery :last-child {
  content: "";
  align-self: left; 
} 
*/

.gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.1s 0.1s ease-in-out;
  border-radius: 0.5rem;
  /* center overlay content */
  display: flex;
  align-items: center;
  justify-content: center;
}

div.overlay {
  background: var(--bg);
  opacity: 0.7;
}

span.overlay {
  color: var(--text);
}

/* hover */
.gallery li:hover .overlay {
  transform: scale(1);
}

.gallery li:hover .caption {
  transform: scale(1);
}
