header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
  width: 100%;
}

header h1 {
  margin-bottom: 0.5rem;
}

header a {
  color: var(--base);
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav a {
  margin: 0.75rem;
}

header a:hover {
  color: var(--text);
}
