* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: auto;
  max-width: 65rem;
  background-color: var(--bg);
  color: var(--text);
}

#root {
  margin: 2rem;
}

ul {
  list-style: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

header h1 {
  margin: 0.5rem;
}

header a {
  color: var(--base);
  text-decoration: none;
  margin: 0.75rem;
}

header a:hover {
  color: var(--text);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.socials svg {
  color: var(--base);
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
}

.socials svg:hover {
  color: var(--text);
}
